.createTaskButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90px;
  padding: 16px;
  gap: 8px;

  border: 0;
  border-radius: 8px;
  background: var(--blue-dark);

  color: var(--gray-100);
  font-size: var(--font-size-medium);
  font-weight: 700;

  &:hover {
  background: var(--blue);

  }
}