.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -44px;
}

.content {
  width: 100%;
  max-width: 736px;
}

.createTaskContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;

  margin-bottom: var(--space-large);
}

.tableTitle {
  display: flex;
  justify-content: space-between;
}

.wrapper section {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);

  margin-top: var(--space-medium)
}

.tasksCreatedContainer, .tasksCompletedStatusContainer {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}

.tasksCreatedContainer span:first-of-type {
  color: var(--blue);
  font-size: var(--font-size-medium);
}

.tasksCreatedContainer span:last-of-type {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  background: var(--gray-400);

  color: var(--gray-200);
  font-size: var(--font-size-small);
}

.tasksCompletedStatusContainer span:first-of-type {
  color: var(--purple);
  font-size: var(--font-size-medium);
}

.tasksCompletedStatusContainer span:last-of-type {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  background: var(--gray-400);

  color: var(--gray-200);
  font-size: var(--font-size-small);
}